#flex-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rotator {
  animation-name: rotator;
  animation-duration: 1s;
}

nav a {
  text-decoration: none;
  color: black;
  border-left: 2px solid;
  padding: 15px;
  box-shadow: 0px 4px 50px 0px hsla(222, 68%, 4%, 0.1);
}

#navigator {
  display: flex;
  border: 3px solid;
  width: 900px;
  justify-content: right;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}

main div {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: 0px 4px 50px 0px hsla(222, 68%, 4%, 0.1);
  padding: 10px;
}

#form-div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 900px;
  padding-left: 10px;
}

.div1 {
  /* animation-name: Slideleft;
  animation-duration: 2s; */
}
.div2 {
  /* animation-name: Slideright;
  animation-duration: 2s; */
}
.div3 {
  /* animation-name: Slideleft; */
  /* animation-duration: 2s; */
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

input {
  height: 30px;
  width: 300px;
}

select {
  height: 35px;
  width: 310px;
}

button {
  text-decoration: solid;
  margin-left: 10px;
  color: white;
  background-color: black;
  font-size: medium;
  height: 50px;
  width: 300px;
}

/* @keyframes Slideleft {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
} */

/* @keyframes Slideright {
  from {
    margin-right: 700%;
    width: 100%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
} */

/* @keyframes rotator {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

/* #signup-button {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  background-color: rgb(37, 40, 44);
  color: rgb(227, 238, 240);
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  position: absolute;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
} */
